<%# add navigation links to this file %>
<li><%= link_to "Home",     root_path %></li>
<li><%= link_to "Events",   events_path %></li>
<li><%= link_to "Servers",  servers_path %></li>
<li><%= link_to "Staff",    staff_path %></li>
<li><%= link_to "Sponsors", sponsors_path %></li>
<li><%= link_to "Sign in",  '#' %></li>
